.nav-style {
    background-color: lavender;
    height: 89%;
    width: 200px;
    box-sizing: border-box;
}   


.nav-style mat-list {
    padding-top: 0;
} 


mat-list-item:hover {
    background-color: cadetblue;
    color: #fff;
    cursor: pointer;
    height: 65px;
}


.nav-style .mat-list-item i {
    padding-right: 12px;
}