.header {
	display: flex;
	align-items: center;
}


.header a {
	text-decoration: none;
	display: flex;
	align-items: center;
}


.header .logo-image {
	height: 36px;
	padding-right: 20px;
	max-height: 200px;
}


.header .title {
	color: azure;
}

.header .title i {
	padding-right: 7px;
}

